.header-dropdown{
    // border: 1px solid red;
    background: rgba(255, 255, 255, 0.3);
    min-width: 100px;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    #avatar{
        padding-right: 10px;
    }
    h4{
        padding-right: 10px;
    }
}

.header-two-items-on-right{
    border: 1px solid red;
    box-sizing: border-box;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-user-info{
    display: flex;
}

.header {
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
    // padding: 16px;
    // background-color:var(--trippyOrange);
    height: 100px;
}

.header-logo-container {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.dropdown {
    width: auto;
    position: absolute;
    top: 70px;
    list-style: none;
    text-align: start;
}

.dropdown a {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    border-radius: 5px;
}

.dropdown.clicked {
    display: none;
}

.dropdown-option {
    width: 70px;
    // border: 1px solid beige;
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 8px;
    font-size: small;
    &:hover{
        background: rgba(255, 255, 255, 0.5);
    }
}

#header-logo {
    width: 150px;
    align-items: center;
    margin-top: 4em;
}
