


.pins-section.likes{
    margin-top: 0px;
}

.user-header{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    h2{
        font-size: 30px;
        padding-bottom: 10px;
    }
    h4{
        padding-bottom: 50px;
        font-style: italic;
    }
}

#header-avatar{
    font-size: 100px;
    padding-bottom: 20px;
}
