.whole-page {

    height: calc(100vh - 80px);
    width: 100vw;
}

.everything-but-the-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0.5%;
    box-sizing: border-box;
    // border: 2px solid rgb(65, 53, 224);
}

#left-arrow{
    position: relative;
    // left: 0;
    color: black;
    box-sizing: border-box;
    // border: 2px solid rgb(27, 189, 238);
}

#left-arrow:hover{
    svg:hover {
        color: rgb(243,151,102);
    }
}

.show-container-item-container{
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid rgb(97, 189, 153);
    box-sizing: border-box;
    width: 80%;
}

.show-container-item {
    height: 45%;
    width: 60%;
    min-width: 500px;
    // border: 2px solid rgb(16, 219, 141);
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    // box-shadow: 0px 0px 15px 2px lightgrey;
}

.left-side-of-show-container {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    // border: 2px solid rgb(192, 13, 13);
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    box-shadow: 0px 0px 15px 2px lightgrey;
    > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-bottom-left-radius: 10%;
        border-top-left-radius: 10%;
    }
}

.right-side-of-show-container{
    width: 50%;
    height: 100%;
    padding: 3%;
    box-sizing: border-box;
    // border: 2px solid rgb(192, 13, 13);
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: 0px 0px 15px 2px lightgrey;
}

.header-of-right-side-of-show{
    height: 12.5%;
    width: 100%;
    box-sizing: border-box;
    // border: 2px solid rgb(245, 229, 13);
    display: flex;
    justify-content: flex-end;

    .header-button-container{
        box-sizing: border-box;
        // border: purple solid 2px;
        width: fit-content;
            > button {
            background-color: rgb(243,151,102);
            color: white;
            height: 40px;
            width: 60px;
            border-radius: 30px;
            border: none;
            text-decoration: none;
            justify-content: flex-end;
            margin: 2%;
        }
        > button:hover {
            background-color: rgba(200, 70, 0, 0.972);
            color: white;
            height: 40px;
            width: 60px;
            border-radius: 30px;
            border: none;
            text-decoration: none;
            justify-content: flex-end;
        }
    }

    .arrow-container {
        margin-top: 5%;
        margin-right: 2%;
        position: relative;
        box-sizing: border-box;
        // border: rgb(214, 111, 214) solid 2px;
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
}

.show-dropdown{
    background-color: white;
    border-radius: 10%;
    border-color: grey 1px solid;
    box-shadow: 0px 0px 15px 2px lightgrey;
    position: absolute;
    top: 30%;
    padding: 10px;
    width: 100%;
    z-index: 10;
    > ul {
        // border: green 2px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        li {
            margin-bottom: 10px;
            // border: rgb(111, 131, 241) 2px solid;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }

        li:hover{
            background-color: lightgray;
        }
        #add-board{
            display: flex;
        }
        #add-icon{
            margin-right: 5%;
        }
    } 
}

.heart{
    width: 100%;
    margin-top: 2%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    // border: 2px solid black;
    box-sizing: border-box;
}

#heart{
    color: rgb(243,151,102);
    cursor: pointer;
    font-size: 20px;
    // border: 2px solid black;
}


.title-area-of-right-side-of-show{
    width: 100%;
    box-sizing: border-box;
    // border: 2px solid rgb(245, 229, 13);
    display: flex;
    align-items: center;
    margin-top: 15px;
    > a {
        font-weight: 600;
        font-size: 28px;
        color: black;  
        width: fit-content;
        overflow: hidden;
        // white-space: nowrap;
        // border: 2px solid rgb(27, 88, 180);  
    };
}
.region-area-of-right-side-of-show{
    width: 100%;
    box-sizing: border-box;
    // border: 2px solid rgb(245, 229, 13);
    display: flex;
}

.p-title{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}
.p-body{
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 3%;
}

.show-page-written-content{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    // border: 2px solid rgb(245, 229, 13);
}

.description-area-of-right-side-of-show{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    // border: 2px solid rgb(95, 90, 15);

    #description-title{
        font-size: 18px;
        margin-bottom: 2%;
        box-sizing: border-box;
        // text-decoration: underline;
        // border: 2px solid rgb(245, 229, 13);
    }   
}

.description-dropdown{
    background-color: white;
    // border: 2px solid rgb(19, 187, 117);
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px;
    border-color: grey 1px solid;
    box-shadow: 0px 0px 15px 2px lightgrey;
    z-index: 1;
    position: absolute;
}

.spacer{
    width: 1%;
    box-sizing: border-box;
    border: 2px solid rgb(19, 187, 117);
    svg{
        color: white;
    }
}